HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
logs/
*.log
/amplicode.xml
/deploy/helm/bank/values-rancher.yaml
/deploy/helm/bank/charts/accounts-0.1.0.tgz
/deploy/helm/bank/charts/cash-0.1.0.tgz
/deploy/helm/accounts/Chart.lock
/deploy/helm/bank/Chart.lock
/deploy/helm/cash/Chart.lock
/deploy/helm/front-ui/Chart.lock
/deploy/helm/notifications/Chart.lock
/deploy/helm/transfer/Chart.lock
/deploy/helm/accounts/charts/common-microservice-0.1.0.tgz
/deploy/helm/cash/charts/common-microservice-0.1.0.tgz
/deploy/helm/front-ui/charts/common-microservice-0.1.0.tgz
/deploy/helm/notifications/charts/common-microservice-0.1.0.tgz
/deploy/helm/transfer/charts/common-microservice-0.1.0.tgz
/deploy/helm/bank/charts/front-ui-0.1.0.tgz
/deploy/helm/bank/charts/keycloak-24.4.5.tgz
/deploy/helm/bank/charts/keycloak-realm-0.1.0.tgz
/deploy/helm/bank/charts/notifications-0.1.0.tgz
/deploy/helm/accounts/charts/postgres-0.1.0.tgz
/deploy/helm/cash/charts/postgres-0.1.0.tgz
/deploy/helm/transfer/charts/postgres-0.1.0.tgz
/deploy/helm/bank/charts/transfer-0.1.0.tgz
/jenkins-cli.jar
